<section class="contact">
      <div class="container">
        <div class="contact-section">
          <h2>Convinced To Work With Us?</h2>
          <p>Company has helped agencies keep their promises to client since 2005.
        </div>  
        <from>
          <div class="row">
            <div class="col-sm-4">
              <input class="contact-input" placeholder="Fullname">
            </div>  
            <div class="col-sm-4">
              <input class="contact-input" placeholder="Email Address"/>
            </div>
            <div class="col-sm-4">
              <input class="contact-input" placeholder="Phone Number"/>
            </div>
            <div class="col-sm-12">
              <textarea class="contact-input-textbox" placeholder="Message in breif"></textarea>
            </div>
            <button class="contact-btn">Submit</button>
        </form>
      </div>
    </section>