<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-left col-sm-6">
            <h4>&copy; 2018 Company. All Rights Reserved.
          </div>
          <div class="footer-right col-sm-6">
            <h4>Follow us on: <a href=""><i class="fab fa-facebook"></i></a> <a href=""><i class="fab fa-linkedin"></i></a> 
                              <a href=""><i class="fab fa-twitter-square"></i></a> <a href=""><i class="fas fa-envelope"></i></a>
            </h4>
          </div>
        </div>
      </div>
    </footer>