<section class="container-hero">
      <div class="container">
        <div class="row justify-content-center about-content">
          <div class="col-sm-12">
            <h1 class="about-heading">Lorem ipsum dolor sit amet, meis<br> mediocritatem ne cum</h1>
          </div>
          <div class="col-sm-2 about-card">
            <img src="img/about-icn-1.png" alt="About Icon 1"/>
            <h3>Service Name</h3>
          </div>
          <div class="col-sm-2 about-card">
            <img src="img/about-icn-2.png" alt="About Icon 2"/>
            <h3>Service Name</h3>
          </div>
          <div class="col-sm-2 about-card">
            <img src="img/about-icn-3.png" alt="About Icon 3"/>
            <h3>Service Name</h3>
          </div>
          <div class="col-sm-12 about-scroll">
            <p>Scroll Down &nbsp;<i class="fas fa-chevron-down"></i></p>
          </div>
        </div>
      </div>
    </section>
    <section class="profile">
      <div class="container">
        <div class="profile-info">
          <h2>Our Success Stories</h2>
          <p>Here are some of the greatest works from arsenal</p>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="profile-img-card">
              <p>270*150</p>
            </div>
            <h3 class="profile-heading">Lorem ipsum dolor sit amet, meis mediocritatem ne</h3>
            <p class="profile-title">Service/Solution Name</p> 
          </div>
          <div class="col-sm-3">
            <div class="profile-img-card">
              <p>270*150</p>
            </div>
            <h3 class="profile-heading">Lorem ipsum dolor sit amet, meis mediocritatem ne</h3>
            <p class="profile-title">Service/Solution Name</p>
          </div>
          <div class="col-sm-3">
            <div class="profile-img-card">
              <p>270*150</p>
            </div>
            <h3 class="profile-heading">Lorem ipsum dolor sit amet, meis mediocritatem ne</h3>
            <p class="profile-title">Service/Solution Name</p>
          </div>
          <div class="col-sm-3">
            <div>
              <div class="profile-img-card">
                <p>270*150</p>
              </div>
              <h3 class="profile-heading">Lorem ipsum dolor sit amet, meis mediocritatem ne</h3>
              <p class="profile-title">Service/Solution Name</p>
            </div>  
          </div>  
        </div>
      </div>  
    </section>
    <section class="profile-section">
      <div class="container">
        <div class="row">
          <div class="profile-section-text col-sm-6">
            <h2>
              Lorem ipsum dolor sit amet, meis mediocritatem ne
            </h2>
            <p>
              Lorem ipsum dolor sit amet, meis mediocritatem ne cum, id duo malorum interesset scribentur. 
              Duo in tota iriure aeterno, delenit nominavi percipit eos an, vim solet gloriatur an. 
              Nam saepe dicunt pertinacia id. Graeco oblique sea ne.
              <br>
              Id appareat recteque mediocritatem ius, eum rationibus omittantur necessitatibus ne. 
              Eloquentiam repudiandae id vel, vim ei omittam facilisis erroribus. 
            </p>  
          </div>
          <div class="col-sm-6">
            <img src="img/map-hero.png" alt="Map Image"/>
          </div>
        </div>
      </div>
    </section>