<section class="testimonial">
      <div class="container">
        <div class="testimonial-header">
          <h2>Testimonials</h2>
        </div>
        <div class="col-md-12">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
            <div class="w-100 carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="testimonial-comment">
                      <h3><span>"</span>Nonumy tibique accumsan at eos, ad mei mentitum interesset. Amet placerat facilisi his ex, nibh tamquam vim at.</h3>
                    </div>
                    <div class="testimonial-client">
                      <img src="img/user.png" alt="client pic">
                      <div class="testimonial-client-info">
                        <h3>Client Name</h3>
                        <p>Position, ORG</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="testimonial-comment">
                      <h3><span>"</span>Nonumy tibique accumsan at eos, ad mei mentitum interesset. Amet placerat facilisi his ex, nibh tamquam vim at.</h3>
                    </div>
                    <div class="testimonial-client">
                      <img src="img/user.png" alt="client pic">
                      <div class="testimonial-client-info">
                        <h3>Client Name</h3>
                        <p>Position, ORG</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="testimonial-comment">
                      <h3><span>"</span>Nonumy tibique accumsan at eos, ad mei mentitum interesset. Amet placerat facilisi his ex, nibh tamquam vim at.</h3>
                    </div>
                    <div class="testimonial-client">
                      <img src="img/user.png" alt="client pic">
                      <div class="testimonial-client-info">
                        <h3>Client Name</h3>
                        <p>Position, ORG</p>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
              <div class="carousel-item hidden-xs">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="testimonial-comment">
                      <h3><span>"</span>Nonumy tibique accumsan at eos, ad mei mentitum interesset. Amet placerat facilisi his ex, nibh tamquam vim at.</h3>
                    </div>
                    <div class="testimonial-client">
                      <img src="img/user.png" alt="client pic">
                      <div class="testimonial-client-info">
                        <h3>Client Name</h3>
                        <p>Position, ORG</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="testimonial-comment">
                      <h3><span>"</span>Nonumy tibique accumsan at eos, ad mei mentitum interesset. Amet placerat facilisi his ex, nibh tamquam vim at.</h3>
                    </div>
                    <div class="testimonial-client">
                      <img src="img/user.png" alt="client pic">
                      <div class="testimonial-client-info">
                        <h3>Client Name</h3>
                        <p>Position, ORG</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="testimonial-comment">
                      <h3><span>"</span>Nonumy tibique accumsan at eos, ad mei mentitum interesset. Amet placerat facilisi his ex, nibh tamquam vim at.</h3>
                    </div>
                    <div class="testimonial-client">
                      <img src="img/user.png" alt="client pic">
                      <div class="testimonial-client-info">
                        <h3>Client Name</h3>
                        <p>Position, ORG</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>